{{#paper-toolbar}}
  <div class="md-toolbar-tools" style="background-color:#553D36;">
    <div style="margin:auto;">
    {{#paper-button onClick="gotoHome"}}Home{{/paper-button}}
    {{#paper-button onClick="gotoGettingStarted"}}Get Started{{/paper-button}}
    {{#paper-button onClick="gotoComps"}}Components{{/paper-button}}
    {{#paper-button onClick="gotoDocs"}}Docs{{/paper-button}}
    </div>
  </div>
{{/paper-toolbar}}

{{outlet}}