<div style="display:inline-block;width:275px; height:1000px; background-color:#87A0B2">
<ul style="list-style-type:none; color:#FFFFFF">
  <li>{{#paper-button onClick=(action "gotoSimpleBarChart")}}SimpleBarChart{{/paper-button}}</li>
</ul>
</div>
<div style="height:100%; display:inline-block">
{{outlet}}
</div>
