<div style="width:775px; margin: auto;">

<h1>Bomber-Charts</h1>

<img src="https://raw.githubusercontent.com/langens-jonathan/bomber-charts/master/bomber-charts-logo-v0.png" width=600 height=500/>

<p>Welcome on the bomber-charts website!</p>

<h3>What is bomber-charts?</h3>
<p>bomber-charts is an ember addon library that allows you to add cool interactive charts to your ember application. The charts are built using the well known D3.js library. This website also sports a configurator that you can use to customize a certain visualisation and then copy the handlebars code for that visualisation to your own application.</p>

<h3>Installation</h3>
<p>simply type <br><br>
<code>
ember install ember-d3 && ember install bomber-charts
</code>
<br><br>in your terminal to install this library</p>

<h3>Open Source</h3>
bomber-charts is developed under the MIT license, the source code can be found on <a href="https://github.com/langens-jonathan/bomber-charts">github</a>.


<br><br><br><br>
</div>
